.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
  }
  .ibox-content h1,
  .ibox-content h2,
  .ibox-content h3,
  .ibox-content h4,
  .ibox-content h5,
  .ibox-title h1,
  .ibox-title h2,
  .ibox-title h3,
  .ibox-title h4,
  .ibox-title h5 {
    margin-top: 5px;
  }


.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #f3f3f4;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}
.ibox-content {
  background-color: #f3f3f4;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #f3f3f4;
  padding: 10px 15px;
}


.float-e-margins .btn {
    margin-bottom: 5px;
}


.form-control,
.single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-size: 14px;
}

.btn {
  margin: 0 5px 5px 0;
}

.btn-white {
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
}

.btn-primary {
  background-color: #F8694A;
  border-color: #F8694A;
  color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
  background-color: rgb(230, 103, 74);
  border-color: rgb(230, 103, 74);
  color: #FFFFFF;
}


.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white,
.btn-white:active:focus,
.btn-white:active:hover,
.btn-white.active:hover,
.btn-white.active:focus {
  color: inherit;
  border: 1px solid #d2d2d2;
}


.hr-line-dashed {
    border-top: 1px dashed #ccc;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}

.file-field {
  position: relative;
}

.btn[class*=btn-outline-].btn-sm {
  padding-top: .38rem;
  padding-bottom: .38rem;
}

.btn-outline-success {
  border: 2px solid #F8694A!important;
  background-color: transparent!important;
  color: #F8694A!important;
  margin: .375rem;
  margin-right: 0px;
  border: 0;
  -webkit-border-radius: .125rem;
  border-radius: .125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: inherit;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btn-rounded {
  -webkit-border-radius: 10em;
  border-radius: 10em;
}

.btn.btn-sm {
  padding: .5rem 1.6rem;
  font-size: .64rem;
}


.file-field input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 120px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}


.file-path-wrapper {
  overflow: hidden;
  height: 2.5rem;
}

div.file-path {
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  width: 100%;
  height: 36px;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-color: transparent;
  vertical-align: middle;
}
.md-form {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.pull_float_right{
  float: right;
}

.btn_upload_file{
  background-color :  #F8694A;
  border-color :  #F8694A;
  color : #fff;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}

div[id=uploadImgText]{
  line-height: 3;
}